<%- include('header-user', {title: `Baby Care`}); -%>

<div class="container">
  <div class="row" style="padding-top: 70px; padding-bottom: 30px">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-default btn-circle btn-xl"
        data-toggle="modal"
        data-target="#soiledNappyModal"
      >
        <i class="fas fa-poo"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button
        type="button"
        class="btn btn-default btn-circle btn-xl"
        data-toggle="modal"
        data-target="#wetNappyModal"
      >
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/3260/3260055.png"
        />
      </button>
    </div>
  </div>
  <div class="row" style="padding-bottom: 40px">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-default btn-circle btn-xl"
        data-toggle="modal"
        data-target="#milkModal"
      >
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/4292/4292086.png"
        />
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button
        type="button"
        class="btn btn-default btn-circle btn-xl"
        data-toggle="modal"
        data-target="#sleepModal"
      >
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/865/865813.png"
        />
      </button>
    </div>
  </div>
</div>

<!-- profile photo -->
<div class="container" style="position: relative">
  <div class="row justify-content-center">
    <a
      class="
        profile-photo
        btn-circle btn-xl
        d-flex
        align-items-center
        justify-content-center
      "
      data-toggle="modal"
      data-target="#profilePhotoModal"
    >
      <img src="/<%= filename %>" class="profile-photo-img" />
    </a>
  </div>
  <!-- profile name -->
  <div class="row justify-content-center profileNameEditable">
    <button
      class="profile-name profileEditButton"
      data-toggle="modal"
      data-target="#editProfileNameModal"
      data-name="<%= rows[0].baby_name %>"
      data-dob="<%= birthDate %>"
      data-gender="<%= gender %>"
      type="button"
    >
      <%= rows[0].baby_name %>
    </button>

    <a class="add-profile" data-toggle="modal" data-target="#addProfileModal">
      +</a
    >
  </div>
</div>

<!-- log table -->
<div class="container" style="padding: 20px 10px">
  <table
    id="logTable"
    class="table log-table justify-content-center table-striped table-hover"
    style="font-size: 90%"
  >
    <thead class="thead-custom">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Event</th>
        <th style="display: none">logId</th>
        <th style="display: none">variable</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="logBody">
      <% rows.forEach((row)=>{ %>
      <tr
        class="rowEdit"
        data-toggle="modal"
        data-target="#editModal<%= row.event_id %>"
      >
        <td class="date">
          <%= new Date(row.date).toLocaleString('en-US', { day:'numeric', month:
          'short', hour: 'numeric', minute: 'numeric', hour12: true }) %>
        </td>
        <td><%= row.event_name %></td>
        <td style="display: none"><%= row.log_id %></td>
        <td style="display: none">
          <% if (row.event_id === 1) { %> <%= row.stool_colour %> <% } else if
          (row.event_id === 2) { %> <%= row.nappy_weight %> <% } else if
          (row.event_id === 3) { %> <%= row.milk_qty %> <% } else if
          (row.event_id === 4) { %> <%= row.end_date %> <% } %>
        </td>
        <td class="col-delete">
          <form
            action="..."
            onclick="return confirm('Are you sure you want to delete this event?')"
          >
            <i class="fas fa-minus-circle"></i>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div><%- include('eventModal'); -%></div>
<div><%- include('profileModal'); -%></div>

<div><%- include('footer'); -%></div>

<!-- script for prefilling edit event - soiled nappy -->
<script>
  $(function () {
    //Take the data from the TR during the event button
    $("table").on("click", "tr.rowEdit", function (ele) {
      //the <tr> variable is use to set the parentNode from "ele
      var tr = ele.target.parentNode;
      console.log(tr);

      //I get the value from the cells (td) using the parentNode (var tr)
      var date = new Date(tr.cells[0].textContent);
      var newDate = date.toISOString().substring(0, 19);
      var id = tr.cells[2].textContent;
      var variable = tr.cells[3].textContent.trim();
      console.log(variable);
      var variableDate = new Date(variable).toISOString().substring(0, 19);

      //Prefill the fields with the gathered information
      $("#editSoiledDate").val(newDate);
      $("#editSoiledColour").val(variable).attr("selected", "selected");
      $("#editWetDate").val(newDate);
      $("#editWetWeight").val(variable).attr("selected", "selected");
      $("#editMilkDate").val(newDate);
      $("#editMilkQty").val(variable);
      $("#editSleepDate").val(newDate);
      $("#editSleepDateEnd").val(variableDate);

      //If you need to update the form data and change the button link
      $("form#editSoiledDiaperForm").attr(
        "action",
        window.location.href + `/${id}` + "/soiled?_method=PUT"
      );

      $("form#editWetDiaperForm").attr(
        "action",
        window.location.href + `/${id}` + "/wet?_method=PUT"
      );
      $("form#editMilkForm").attr(
        "action",
        window.location.href + `/${id}` + "/milk?_method=PUT"
      );
      $("form#editSleepForm").attr(
        "action",
        window.location.href + `/${id}` + "/sleep?_method=PUT"
      );
    });
  });
</script>

<script>
  $(function () {
    $(".profileNameEditable").on(
      "click",
      "button.profileEditButton",
      function (event) {
        // var profileId = window.location.href.substring(35, 36);
        // var button = button.profileEditButton;
        var name = $("button.profileEditButton").data("name");
        var dob = $("button.profileEditButton").data("dob");
        var newDOB = new Date(dob).toISOString().substring(0, 10);
        var gender = $("button.profileEditButton").data("gender");
        console.log(newDOB);

        $("#editProfileName").val(name);
        $("#editBirthDate").val(newDOB);
        $("#editBabyGender").val(gender).attr("selected", "selected");

        //If you need to update the form data and change the button link
        // $("form#editProfileForm").attr(
        //   "action",
        //   window.location.href + "/profile"
        // );
      }
    );
  });
</script>
